
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'my-font';
  font-display: optional;
  src: url(my-font.woff2) format('woff2');
}



html{
	font-size: calc(1vw + 1em);
  scroll-behavior: smooth;
  background-color: rgb(207, 206, 206);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial;
  margin: 0;
  }

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  color: white;
  margin-bottom: 20px;
}

/* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  animation: revealBlock 0s var(--t) forwards;

}

.block-reveal {
  --t: calc(var(--td) + var(--d));
  animation: revealBlock 0s var(--t) forwards;
}

h1.block-effect {
  font-size: 60px;
  display: flex
;
}

.block-reveal::after {
  content: '';
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

/* animations */
@keyframes revealBlock {
  100% {
    color:white;
  }
}

@keyframes revealingIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes revealingOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 1px;
}

  header {
    grid-area: header;
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
  }
  
  main{
    display: flex;
    grid-area: main;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-left: 5px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
   height: 700px;
  }

/*  main#kontaktside{
    display: flex;
    grid-area: main;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-left: 5px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
  }*/

  .Fordside {
      width: 50%;
      padding: 0.4rem;
      flex-grow: 1;
      margin: 10px;
      margin-left: 25px;
      background-color: #d81212;
  }

  
  
  article {
    /*  leverage cascade for cross-browser gradients  */
    background: radial-gradient(
      hsl(0, 0%, 0%), 
      hsl(210, 74%, 77%) 
    ) fixed;
    background: conic-gradient(
      hsl(0, 0%, 0%), 
      hsl(200, 40%, 75%), 
      hsl(0, 0%, 0%) 
    ) fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  } */

main article a{
 font-size: 15px;
 color: #00039E;
 margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: 1.6s;
}

main a:hover{
  color: red;
  font-size: 20px;
}

article h3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  width: 50%;
}

.Fordside p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 100;
  flex-flow: nowrap;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
 
footer{
	grid-area: footer;
	background-color: #343434;
	color: #fff;
	padding: 1rem;
  display: flex;
  margin-top: 60px;
}

footer p{
  font-size: 16px;
}

footer section {
  margin-left: auto;
  width: fit-content;
}

footer .fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 4px;
  border-radius: 25%;
}

footer .fa{
  font-size: 20px;

} 

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

nav{
  grid-area: nav;
} 

#grid-container{
  display: grid;
  grid-template-columns: 0rem 1fr 1fr 0.5fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "herder header header header" 
  "nav nav nav nav" 
  "section section section section"
  "main main main main"
  "footer footer footer footer";
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
  text-transform: uppercase;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
 
}
.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}
h3
{ margin-left: auto; width: 75%; border-bottom: 2px black solid; margin-right: auto; }

@media only screen and (max-width: 600px){
  #grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
    grid-template-areas:	"header"
                "nav"
                "main"
                "footer"; 

  }

 /* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  animation: revealBlock 0s var(--t) forwards;
  font-size: 23px;
}

.block-reveal::after {
  content: '';
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color:white;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

  main{
    grid-area: main;
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 10px;
   margin-bottom: 10px;

}

footer {
  grid-area: footer;
  background-color: #343434;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 250px;
    
}

footer section {
  width: 100%;
}

/* img.Analyse { 
  width: 80%;
  margin: auto;
  margin-right: auto;
  padding: 25px;
}
*/

header{
  height: 150px;
  display: flex;
  justify-content: center;

}

h1.block-effect {
  font-size: 30px;
}

.Fordside {
  width: 30%;
  padding: 0.4rem;
  flex-grow: 1;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3b3535;
  padding-top: 60px;
  margin: auto;
  
}
.Fordside p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 100;
  flex-flow: nowrap;
  color: white;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  
}

header h1{
font-size: 15px;
color: white;
letter-spacing: 2px;
font-weight: bold;
}

main article{
  flex-basis: 100%;
}

main article a {
  font-size: 15px;
  color: #bbc4d9;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: 1.6s;
  padding-right: 11px;
}
 
section {
  font-size: 13px;
  width: 100%;
}
.topnav a {
  transition: none; 
}
}

@media screen and (max-width: 600px){
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    color: orange;
    margin-top: 3px; 
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      
    }

  }



